@rendermode InteractiveServer
@inject IRefDataService refData

<h3>Contexts</h3>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var context in ((List<ContextModel>?)Context?.Value ?? throw new Exception("This is null")))
        {
            <tr>
                <td>@context.Key</td>
                <td>@context.Description</td>
                <td> <button @onclick="(() => HandleClick(context.Key))">View Categories</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public JsonResult? Context { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Context = await refData.GetContextsAsync();
    }

    private async Task HandleClick(string? contextKey)
    {
        await OnClick.InvokeAsync(contextKey);
    }
}