@page "/refdata"
@rendermode InteractiveServer
@inject IRefDataService refData

<PageTitle>Data Management</PageTitle>

<h3>Data Management</h3>

<SearchBox OnSearch="HandleSearch"/>

@switch (currentView)
{
    case "contexts":
        <Contexts OnClick="HandleContextClick" Filter="@searchTerm"/>
        break;
    case "categories":
        <Categories ContextKey="@selectedContextKey" OnClick="HandleCategoryKey" />
        break;
    case "value":
        <Value CategoryKey="@selectedCategoryKey" ContextKey="@selectedContextKey" />
        break;
}

@if (currentView != "contexts")
{
    <button @onclick="GoBack">Go Back</button>
}

@code {
    private string currentView = "contexts";
    private string? selectedContextKey;
    private string? selectedCategoryKey;
    private string? searchTerm;

    private void HandleSearch(string? term)
    {
        searchTerm = term;
    }

    private void HandleContextClick(string? contextKey)
    {
        selectedContextKey = contextKey;
        currentView = "categories";
    }

    private void HandleCategoryKey(string? categoryKey)
    {
        selectedCategoryKey = categoryKey;
        currentView = "value";
    }

    private void GoBack()
    {
        if (currentView == "value")
        {
            currentView = "categories";
        }
        else if (currentView == "categories")
        {
            currentView = "contexts";
        }
    }
}
